<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Welcome!{% endblock %}</title>
      {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {{ controller_name }}
      {% block body %}{% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
